@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/TiroGurmukhi-Regular.ttf");
    font-weight: 300;
  }

  * {
    box-sizing: border-box;
  }
style
html
  
body

{
    font-family: 'TiroGurmukhi-Regular'
}
article
p  {
     color:rgb(155, 73, 73);
}
h1 {
    color: rgb(247, 243, 5);
    margin-left: 500px;}
