style
html
  
body

{background-color:brown}
   
{
    font-family: 'Tiro Gurmukhi', serif;
}
article
p  {
     color:rgb(155, 73, 73);
}
h1 {
    color: rgb(247, 243, 5);
    margin-left: 500px;}
body
   style

     
    
   